* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #592bbd;
    background-size: cover;
}

.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1 {
    clip-path: polygon(0% 75%, 100% 51%, 0 25%);
    background-color: yellow;
    top: 120px;
    left: 0;
}

.span2 {
    clip-path: polygon(100% 75%, 0% 51%, 100% 25%);
    background-color: green;
    top: 120px;
    right: 0;
}

.span3 {
    clip-path: polygon(52% 0%, 25% 100%, 75% 100%);
    background-color: red;
    bottom: 0;
    left: 120px;
}

.span4 {
    clip-path: polygon(52% 100%, 75% 0%, 25% 0%);
    background-color: blue;
    top: 0;
    left: 120px;
}